{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/quill.snow.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/intltelinput.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/tagify.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/flatpickr/flatpickr.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/dropzone.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/sweetalert2.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/select/bootstrap-select.min.css' %}">
{% endblock css %}

{% block content %}

  {% load static %}

  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h5>Product Form</h5>
          </div>
          <div class="card-body">
            <div class="row g-xl-5 g-3">
              <div class="col-xxl-3 col-xl-4 box-col-4e sidebar-left-wrapper">
                <ul
                  class="sidebar-left-icons nav nav-pills"
                  id="add-product-pills-tab"
                  role="tablist"
                >
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="detail-product-tab"
                      data-bs-toggle="pill"
                      href="#detail-product"
                      role="tab"
                      aria-controls="detail-product"
                      aria-selected="false"
                    >
                      <div class="nav-rounded">
                        <div class="product-icons">
                          <svg class="stroke-icon">
                            <use
                              href="{% static 'assets/svg/icon-sprite.svg' %}#product-detail"
                            ></use>
                          </svg>
                        </div>
                      </div>
                      <div class="product-tab-content">
                        <h6>Add Product Details</h6>
                        <p>Add product name & details</p>
                      </div></a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="gallery-product-tab"
                      data-bs-toggle="pill"
                      href="#gallery-product"
                      role="tab"
                      aria-controls="gallery-product"
                      aria-selected="false"
                    >
                      <div class="nav-rounded">
                        <div class="product-icons">
                          <svg class="stroke-icon">
                            <use
                              href="{% static 'assets/svg/icon-sprite.svg' %}#product-gallery"
                            ></use>
                          </svg>
                        </div>
                      </div>
                      <div class="product-tab-content">
                        <h6>Product Gallery</h6>
                        <p>Thumbnail & add product gallery</p>
                      </div></a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="category-product-tab"
                      data-bs-toggle="pill"
                      href="#category-product"
                      role="tab"
                      aria-controls="category-product"
                      aria-selected="false"
                    >
                      <div class="nav-rounded">
                        <div class="product-icons">
                          <svg class="stroke-icon">
                            <use
                              href="{% static 'assets/svg/icon-sprite.svg' %}#product-category"
                            ></use>
                          </svg>
                        </div>
                      </div>
                      <div class="product-tab-content">
                        <h6>Product Categories</h6>
                        <p>Add product category, status and tags</p>
                      </div></a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="pricings-tab"
                      data-bs-toggle="pill"
                      href="#pricings"
                      role="tab"
                      aria-controls="pricings"
                      aria-selected="false"
                    >
                      <div class="nav-rounded">
                        <div class="product-icons">
                          <svg class="stroke-icon">
                            <use
                              href="{% static 'assets/svg/icon-sprite.svg' %}#pricing"
                            ></use>
                          </svg>
                        </div>
                      </div>
                      <div class="product-tab-content">
                        <h6>Product Price & Discount</h6>
                        <p>Add product basic price & discount</p>
                      </div></a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="advance-product-tab"
                      data-bs-toggle="pill"
                      href="#advance-product"
                      role="tab"
                      aria-controls="advance-product"
                      aria-selected="false"
                    >
                      <div class="nav-rounded">
                        <div class="product-icons">
                          <svg class="stroke-icon">
                            <use
                              href="{% static 'assets/svg/icon-sprite.svg' %}#advance"
                            ></use>
                          </svg>
                        </div>
                      </div>
                      <div class="product-tab-content">
                        <h6>Additional Options</h6>
                        <p>Add meta details & inventory details</p>
                      </div></a
                    >
                  </li>
                </ul>
              </div>
              <div class="col-xxl-9 col-xl-8 box-col-8 position-relative">
                <form id="product-form" method="POST" enctype="multipart/form-data" novalidate>
                    {% csrf_token %} 
                    <div class="tab-content custom-input" id="add-product-pills-tabContent">
                      <div class="tab-pane fade show active" id="detail-product" role="tabpanel" aria-labelledby="detail-product-tab">
                        <div class="sidebar-body">
                          <!--form-->
                          <div class="row g-3 common-form">
                            <div class="col-12">
                              <label class="form-label" for="exampleFormControlInput1">Product SKU </label>
                              <input class="form-control" id="exampleFormControlInput1" type="text" placeholder="Enter a number" name="sku" required />
                            </div>
                            <div class="col-md-12">
                              <label class="form-label" for="validationProductTitle">Product Title</label>
                              <input class="form-control" id="validationProductTitle" type="text" placeholder="Title" name="title" required />
                            </div>
                            <div class="col-md-12">
                              <label class="form-label">Product Description</label>
                              <div class="toolbar-box">
                                <div id="toolbar2">
                                  <button class="ql-bold">Bold</button>
                                  <button class="ql-italic">Italic</button>
                                  <button class="ql-underline">underline</button>
                                  <button class="ql-strike">Strike</button>
                                  <button class="ql-list" value="ordered">List</button>
                                  <button class="ql-list" value="bullet"></button>
                                  <button class="ql-indent" value="-1"></button>
                                  <button class="ql-indent" value="+1"></button>
                                  <button class="ql-link"></button>
                                </div>
                                <div id="editor2"></div>
                                <textarea name="description" id="product-description" style="display:none;"></textarea>
                              </div>
                            </div>
                            <div class="col-12 product-buttons">
                              <button class="btn m-0" type="button" onclick="handleNextButtonClick('gallery-product-tab')">
                                Next
                                <svg>
                                  <use href="{% static 'assets/svg/icon-sprite.svg' %}#front-arrow"></use>
                                </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="gallery-product" role="tabpanel" aria-labelledby="gallery-product-tab">
                        <div class="sidebar-body common-form">
                          <div class="product-upload">
                            <p>Product Thumbnail Image <span class="c-o-light">&lpar;Main Image&rpar;</span></p>
                            <div class="dropzone dropzone-secondary" id="singleFileUpload" action="/upload.php">
                              <div class="dropzone-wrapper">
                                <div class="dz-message needsclick">
                                  <i class="fa-solid fa-cloud-arrow-up fa-fade"></i>
                                  <h6>Drop files here or click to upload.</h6>
                                  <span class="note needsclick">SVG,PNG,JPG <strong>or</strong> GIF</span>
                                </div>
                              </div>
                              <input type="file" name="thumbnail" id="thumbnail-input" style="display:none;" accept="image/*" />
                            </div>
                          </div>
                          <div class="product-upload">
                            <p>Product Gallery</p>
                            <div class="dropzone dropzone-secondary" id="multiFileUpload" action="/upload.php">
                              <div class="dz-message needsclick">
                                <i class="fa-solid fa-cloud-arrow-up fa-fade"></i>
                                <h6>Drop files here or click to upload.</h6>
                                <span class="note needsclick">SVG,PNG,JPG <strong>or</strong> GIF</span>
                              </div>
                              <input type="file" name="gallery[]" id="gallery-input" style="display:none;" multiple accept="image/*" />
                            </div>
                          </div>
                          <div class="product-buttons">
                            <button class="btn" type="button" onclick="handleNextButtonClick('detail-product-tab')">
                              <svg>
                                <use href="{% static 'assets/svg/icon-sprite.svg' %}#back-arrow"></use>
                              </svg>
                              Previous
                            </button>
                            <button class="btn" type="button" onclick="handleNextButtonClick('category-product-tab')">
                              Next
                              <svg>
                                <use href="{% static 'assets/svg/icon-sprite.svg' %}#front-arrow"></use>
                              </svg>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="category-product" role="tabpanel" aria-labelledby="category-product-tab">
                        <div class="sidebar-body common-form">
                          <div class="modal fade" id="category-pill-modal" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                              <div class="modal-content category-popup">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="modaldashboard">Add Categories</h5>
                                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body p-0 custom-input">
                                  <div class="text-start">
                                    <div class="p-20">
                                      <div class="row g-3 needs-validation" novalidate="">
                                        <div class="col-md-6">
                                          <label class="form-label" for="validationCategory">Category Name<span class="txt-danger">*</span></label>
                                          <input class="form-control" name="category" id="validationCategory" type="text" placeholder="Enter your category name" required="" />
                                          <div class="invalid-feedback">Please choose a category name.</div>
                                          <div class="valid-feedback">Looks good!</div>
                                        </div>
                                        <div class="col-md-6">
                                          <label class="form-label" for="validationSlug">Slug<span class="txt-danger">*</span></label>
                                          <input class="form-control" id="validationSlug" type="text" placeholder="Enter slug" required="" />
                                          <div class="invalid-feedback">Please choose a slug name.</div>
                                          <div class="valid-feedback">Looks good!</div>
                                        </div>
                                        <div class="col-md-12">
                                          <label class="form-label">Parent Category<span class="txt-danger">*</span></label>
                                          <select class="form-select" name="parent_category" aria-label="Select parent category">
                                            <option selected="">T-shirts</option>
                                            <option value="1">Purse</option>
                                            <option value="2">Cameras</option>
                                            <option value="3">Shoes</option>
                                            <option value="4">Handbags</option>
                                            <option value="5">Sleepers</option>
                                            <option value="6">Watches</option>
                                          </select>
                                          <div class="invalid-feedback">Please choose a parent category.</div>
                                          <div class="valid-feedback">Looks good!</div>
                                        </div>
                                        <div class="col-md-6">
                                          <label class="form-label">Category Type<span class="txt-danger">*</span></label>
                                          <select class="form-select" name="category_type" aria-label="Select parent category">
                                            <option selected="">Electronic</option>
                                            <option value="1">Accessories</option>
                                            <option value="2">Footwear</option>
                                            <option value="3">Clothing</option>
                                            <option value="4">Furniture</option>
                                          </select>
                                          <div class="invalid-feedback">Please choose a category type.</div>
                                          <div class="valid-feedback">Looks good!</div>
                                        </div>
                                        <div class="col-md-6">
                                          <label class="form-label">Category Status<span class="txt-danger">*</span></label>
                                          <select class="form-select" name="category_status" aria-label="Select parent category">
                                            <option selected="">Active</option>
                                            <option value="1">Inactive</option>
                                          </select>
                                          <div class="invalid-feedback">Please choose a category status.</div>
                                          <div class="valid-feedback">Looks good!</div>
                                        </div>
                                        <div class="col-md-12">
                                          <label class="form-label" for="validationDescription">Category Description</label>
                                          <textarea name="category_description" class="form-control" id="validationDescription" placeholder="Description here..." required=""></textarea>
                                          <div class="invalid-feedback">Please enter a category description.</div>
                                          <div class="valid-feedback">Looks good!</div>
                                        </div>
                                        <div class="col-12">
                                          <div class="main-divider">
                                            <div class="divider-body">
                                              <h6>SEO Tags</h6>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-lg-6">
                                          <label class="form-label" for="validationMetaTitle1">Meta Title<span class="txt-danger">*</span></label>
                                          <input class="form-control" name="meta_title" id="validationMetaTitle1" type="text" placeholder="Enter meta title" required="" />
                                          <div class="invalid-feedback">Please choose a meta title.</div>
                                          <div class="valid-feedback">Looks good!</div>
                                        </div>
                                        <div class="col-lg-6">
                                          <label class="form-label" for="validationKeywords">Meta Keywords<span class="txt-danger">*</span><span class="c-o-light">&nbsp;(In comma separated)</span></label>
                                          <input class="form-control" name="meta_keywords" id="validationKeywords" type="text" placeholder="Enter meta keywords" required="" />
                                          <div class="invalid-feedback">Please enter a meta keywords(In comma separated).</div>
                                          <div class="valid-feedback">Looks good!</div>
                                        </div>
                                        <div class="col-md-12">
                                          <label class="form-label">Meta Description</label>
                                          <div class="toolbar-box">
                                            <div id="toolbar3">
                                              <button class="ql-bold">Bold</button>
                                              <button class="ql-italic">Italic</button>
                                              <button class="ql-underline">underline</button>
                                              <button class="ql-strike">Strike</button>
                                              <button class="ql-list" value="ordered">List</button>
                                              <button class="ql-list" value="bullet"></button>
                                              <button class="ql-indent" value="-1"></button>
                                              <button class="ql-indent" value="+1"></button>
                                              <button class="ql-link"></button>
                                            </div>
                                            <div id="editor3"></div>
                                          </div>
                                          <div class="invalid-feedback">Please enter a meta description</div>
                                          <div class="valid-feedback">Looks good!</div>
                                        </div>
                                        <div class="col-md-12 d-flex justify-content-end">
                                          <button class="btn button-light-primary" type="button" data-bs-dismiss="modal">Cancel</button>
                                          <button class="btn btn-primary ms-2" type="submit">Create +</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row g-3 common-form">
                            <div class="col-md">
                              <label class="form-label">Add Category</label>
                              <select class="selectpicker" multiple="" aria-label="Default select example" data-live-search="true" name="categories[]">
                                {% for category in categories %}
                                  <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                              </select>
                            </div>
                            <div class="col-auto">
                              <div class="category-btn">
                                <a class="btn button-primary" href="#!" data-bs-toggle="modal" data-bs-target="#category-pill-modal"><i class="me-2 fa fa-plus"> </i>Create New Category</a>
                              </div>
                            </div>
                            <div class="col-sm-12 common-tagify">
                              <label class="form-label">Add Tag</label>
                              <input name="tags" value="watches, sports, clothes, bottles" />
                            </div>
                            <div class="col-12 product-buttons">
                              <button class="btn" type="button" onclick="handleNextButtonClick('gallery-product-tab')">
                                <svg>
                                  <use href="{% static 'assets/svg/icon-sprite.svg' %}#back-arrow"></use>
                                </svg>
                                Previous
                              </button>
                              <button class="btn" type="button" onclick="handleNextButtonClick('pricings-tab')">
                                Next
                                <svg>
                                  <use href="{% static 'assets/svg/icon-sprite.svg' %}#front-arrow"></use>
                                </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="pricings" role="tabpanel" aria-labelledby="pricings-tab">
                        <div class="price-wrapper common-form row g-3">
                          <div class="col-sm-6">
                            <label class="form-label" for="initialCost">Initial Price</label>
                            <input class="form-control" id="initialCost" type="number" step="0.01" placeholder="Price" name="initial_price" />
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="sellingPrice">Selling Price</label>
                            <input class="form-control" id="sellingPrice" type="number" step="0.01" placeholder="Price" name="selling_price" required />
                        </div>
                          <div class="col-12">
                            <label class="form-label">Product Discount Options<i class="icon-help-alt ms-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Choose the kind of discount that will be used on that particular item."></i></label>
                            <ul class="nav nav-pills discount-options" id="product-discount-pills-tab" role="tablist">
                              <li class="nav-item">
                                <a class="nav-link active" id="fixed-price-tab" data-bs-toggle="pill" href="#fixed-price" role="tab" aria-controls="fixed-price" aria-selected="false"><span>Fixed Price Discount</span></a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" id="bogo-offer-tab" data-bs-toggle="pill" href="#bogo-offer" role="tab" aria-controls="bogo-offer" aria-selected="false"><span>BOGO (Buy One, Get One)</span></a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" id="percentage-base-tab" data-bs-toggle="pill" href="#percentage-base" role="tab" aria-controls="percentage-base" aria-selected="false"><span>Percentage Based Discount(%)</span></a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" id="bulk-discount-tab" data-bs-toggle="pill" href="#bulk-discount" role="tab" aria-controls="bulk-discount" aria-selected="false"><span>Volume or Bulk Discount</span></a>
                              </li>
                            </ul>
                            <div class="tab-content" id="product-discount-pills-tabContent">
                              <div class="tab-pane fade show active" id="fixed-price" role="tabpanel" aria-labelledby="fixed-price-tab">
                                <div class="meta-body">
                                  <div class="row g-3">
                                    <div class="col-12">
                                      <label class="form-label" for="validationDiscountPrice">Discount Price</label>
                                      <input class="form-control" id="validationDiscountPrice" type="number" placeholder="Discount" name="fixed_discount" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="tab-pane fade" id="bogo-offer" role="tabpanel" aria-labelledby="bogo-offer-tab">
                                <div class="meta-body">
                                  <div class="row g-3">
                                    <div class="col-12">
                                      <label class="form-label">Product Name<span class="c-o-light">&nbsp;(Free) </span></label>
                                      <select name="discount_product_name" class="selectpicker search-picker" aria-label="Product Name" data-live-search="true" name="bogo_product">
                                        <option value="1" selected>Women Pink T-shirt</option>
                                        <option value="2">Solid Hooded Sweatshirt</option>
                                        <option value="3">Women Flared Jeans</option>
                                        <option value="4">Fresh And Pure Oil</option>
                                        <option value="5">Premium Dumbbells</option>
                                        <option value="6">Organic Long Grain Rice</option>
                                        <option value="7">Delicious Cupcakes</option>
                                      </select>
                                    </div>
                                    <div class="col-sm-6">
                                      <label class="form-label" for="validationMinQuantity">Minimum Quantity</label>
                                      <input class="form-control" name="minimum_quantity" id="validationMinQuantity" type="number" placeholder="Quantity" name="bogo_min_qty" />
                                    </div>
                                    <div class="col-sm-6">
                                      <label class="form-label" for="validationMaxQuantity">Maximum Quantity</label>
                                      <input class="form-control" name="maximum_quantity" id="validationMaxQuantity" type="number" placeholder="Quantity" name="bogo_max_qty" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="tab-pane fade" id="percentage-base" role="tabpanel" aria-labelledby="percentage-base-tab">
                                <div class="meta-body">
                                  <div class="row g-3">
                                    <div class="col-md-12">
                                      <label class="form-label" for="validationDiscount">Discount Percentage</label>
                                      <input class="form-control" name="discount_percentage" id="validationDiscount" type="number" placeholder="Discount" name="percentage_discount" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="tab-pane fade" id="bulk-discount" role="tabpanel" aria-labelledby="bulk-discount-tab">
                                <div class="meta-body">
                                  <div class="row g-3">
                                    <div class="col-12">
                                      <label class="form-label" for="validationQuantity">Quantity</label>
                                      <input class="form-control" name="quantity" id="validationQuantity" type="number" placeholder="Quantity" name="bulk_qty" />
                                    </div>
                                    <div class="col-12">
                                      <div class="row g-3">
                                        <div class="col-sm-6">
                                          <label class="form-label" for="projectType">Discount Type</label>
                                          <select class="form-select" name="discount_Type" id="projectType" name="bulk_discount_type">
                                            <option selected="">Fixed Price</option>
                                            <option value="1">Percentage(%)</option>
                                          </select>
                                        </div>
                                        <div class="col-sm-6">
                                          <label class="form-label" for="projectType">Value</label>
                                          <input class="form-control" name="discount_value" type="number" placeholder="Discount" required="" name="bulk_discount_value" />
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 product-buttons">
                            <button class="btn" type="button" onclick="handleNextButtonClick('category-product-tab')">
                              <svg>
                                <use href="{% static 'assets/svg/icon-sprite.svg' %}#back-arrow"></use>
                              </svg>
                              Previous
                            </button>
                            <button class="btn" type="button" onclick="handleNextButtonClick('advance-product-tab')">
                              Next
                              <svg>
                                <use href="{% static 'assets/svg/icon-sprite.svg' %}#front-arrow"></use>
                              </svg>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="advance-product" role="tabpanel" aria-labelledby="advance-product-tab">
                        <div class="sidebar-body advance-options">
                          <ul class="nav nav-tabs border-tab mb-0" id="advance-option-tab" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" id="manifest-option-tab" data-bs-toggle="tab" href="#manifest-option" role="tab" aria-controls="manifest-option" aria-selected="true">Inventory</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="seo-option-tab" data-bs-toggle="tab" href="#seo-option" role="tab" aria-controls="seo-option" aria-selected="false">SEO Tags</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="dropping-option-tab" data-bs-toggle="tab" href="#dropping-option" role="tab" aria-controls="dropping-option" aria-selected="false">Shipping</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="variation-option-tab" data-bs-toggle="tab" href="#variation-option" role="tab" aria-controls="variation-option" aria-selected="false">Variations</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="publish-option-tab" data-bs-toggle="tab" href="#publish-option" role="tab" aria-controls="publish-option" aria-selected="false">Publish</a>
                            </li>
                          </ul>
                          <div class="tab-content" id="advance-option-tabContent">
                            <div class="tab-pane fade show active" id="manifest-option" role="tabpanel" aria-labelledby="manifest-option-tab">
                              <div class="meta-body">
                                <div class="common-form row g-3" id="advance-tab">
                                  <div class="col-sm-6">
                                    <label class="form-label">Stock Availability</label>
                                    <select class="form-select" name="stock_availability" aria-label="Default select example" name="stock_status">
                                      <option selected="">In stock</option>
                                      <option value="1">Out of stock</option>
                                      <option value="2">Pre-order</option>
                                    </select>
                                  </div>
                                  <div class="col-sm-6">
                                    <label class="form-label">Low Stock Level</label>
                                    <select name="low_stock_level" required>
                                      <option value="5">Low Stock (5 or less)</option>
                                      <option value="10">10</option>
                                    </select>
                                    
                                  </div>
                                  <div class="col-xxl-4 col-sm-6">
                                    <label class="form-label" for="exampleFormControlInputa">Stock Quantity <span class="txt-danger">*</span></label>
                                    <input class="form-control" name="stock_quantity" id="exampleFormControlInputa" type="number" placeholder="Quantity" name="stock_quantity" required />
                                  </div>
                                  <div class="col-xxl-4 col-sm-6">
                                    <label class="form-label">Restock Date <span class="txt-danger">*</span></label>
                                    <div class="input-group flatpicker-calender product-date">
                                      <input class="form-control" name="restock_date" id="datetime-local2" type="date" name="restock_date" required />
                                    </div>
                                  </div>
                                  <div class="col-xxl-4 col-12">
                                    <label class="form-label" for="exampleFormControlInputc">Pre-Order <span class="txt-danger">*</span></label>
                                    <input class="form-control" name="preorder_quantity" id="exampleFormControlInputc" type="number" placeholder="Quantity" name="pre_order_qty" required />
                                  </div>
                                  <div class="col-12">
                                    <div class="form-check">
                                      <input class="form-check-input" id="gridCheck" type="checkbox" name="is_digital" />
                                      <label class="form-check-label m-0" for="gridCheck">This is a digital product.</label>
                                    </div>
                                  </div>
                                  <div class="col-12 product-buttons">
                                    <button class="btn" type="button" onclick="handleNextButtonClick('pricings-tab')">
                                      <svg>
                                        <use href="{% static 'assets/svg/icon-sprite.svg' %}#back-arrow"></use>
                                      </svg>
                                      Previous
                                    </button>
                                    <button class="btn" type="button" onclick="handleNextButtonClick('seo-option-tab')">
                                      Next
                                      <svg>
                                        <use href="{% static 'assets/svg/icon-sprite.svg' %}#front-arrow"></use>
                                      </svg>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="tab-pane fade" id="seo-option" role="tabpanel" aria-labelledby="seo-option-tab">
                              <div class="meta-body">
                                <div class="row g-3 common-form">
                                  <div class="col-xxl-6">
                                    <label class="form-label" for="validationTitle">Meta Title</label>
                                    <input class="form-control" name="meta_title" id="validationTitle" type="text" placeholder="Enter meta title" name="meta_title" />
                                  </div>
                                  <div class="col-xxl-6">
                                    <label class="form-label" for="validationCustom-9">Meta Keywords<span class="c-o-light">&nbsp;(In comma separated)</span></label>
                                    <input class="form-control" id="validationCustom-9" type="text" placeholder="Enter meta keywords" name="meta_keywords" />
                                  </div>
                                  <div class="col-md-12">
                                    <label class="form-label">Meta Description</label>
                                    <div class="toolbar-box">
                                      <div id="toolbar4">
                                        <button class="ql-bold">Bold</button>
                                        <button class="ql-italic">Italic</button>
                                        <button class="ql-underline">underline</button>
                                        <button class="ql-strike">Strike</button>
                                        <button class="ql-list" value="ordered">List</button>
                                        <button class="ql-list" value="bullet"></button>
                                        <button class="ql-indent" value="-1"></button>
                                        <button class="ql-indent" value="+1"></button>
                                        <button class="ql-link"></button>
                                      </div>
                                      <div id="editor4"></div>
                                      <textarea name="meta_description" id="meta-description" style="display:none;"></textarea>
                                    </div>
                                    <p class="mb-0 mt-1 f-light">Enhance your SEO ranking with an added tag description for the product.</p>
                                  </div>
                                  <div class="col-md-12 product-buttons">
                                    <button class="btn" type="button" onclick="handleNextButtonClick('manifest-option-tab')">
                                      <svg>
                                        <use href="{% static 'assets/svg/icon-sprite.svg' %}#back-arrow"></use>
                                      </svg>
                                      Previous
                                    </button>
                                    <button class="btn" type="button" onclick="handleNextButtonClick('dropping-option-tab')">
                                      Next
                                      <svg>
                                        <use href="{% static 'assets/svg/icon-sprite.svg' %}#front-arrow"></use>
                                      </svg>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="tab-pane fade" id="dropping-option" role="tabpanel" aria-labelledby="dropping-option-tab">
                              <div class="meta-body">
                                <div class="common-form">
                                  <div class="row g-3">
                                    <div class="col-12">
                                      <div class="row">
                                        <div class="col-12">
                                          <label class="form-label" for="exampleFormControlInput1">Weight (kg)</label><i class="icon-help-alt ms-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="set proper weight for product items."></i>
                                        </div>
                                        <div class="col-12">
                                          <input class="form-control" type="number" step="0.001" placeholder="Weight (kg)" name="weight" />
                                          <p class="f-light">Decide if the product is a digital or physical item. Shipping may be necessary for real-world items.</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-12">
                                      <div class="row gx-xl-3 gx-md-2 gy-md-0 g-2">
                                        <div class="col-12">
                                          <label class="form-label" for="exampleFormControlInput1">Dimensions </label><i class="icon-help-alt ms-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="set proper length/width and height for product items."></i>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                          <input class="form-control" type="number" step="0.001" placeholder="Length[l]" name="length" />
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                          <input class="form-control" type="number" step="0.001" placeholder="Width[w]" name="width" />
                                        </div>
                                        <div class="col-md-4">
                                          <input class="form-control" type="number" step="0.001" placeholder="Height[h]" name="height" />
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-12">
                                      <div class="row">
                                        <div class="col-12">
                                          <label class="form-label" for="exampleFormControlInput1">Shipping Class</label>
                                        </div>
                                        <div class="col-md-12">
                                          <select class="form-select" name="shipping_class" id="inputState1" name="shipping_class">
                                            <option selected="">Basic Shipping</option>
                                            <option>Expedited Shipping</option>
                                            <option>International Shipping</option>
                                            <option>Free Shipping</option>
                                            <option>Same-Day or Next-Day Shipping</option>
                                            <option>Flat Rate Shipping</option>
                                            <option>Local Pickup</option>
                                          </select>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-12 product-buttons">
                                      <button class="btn" type="button" onclick="handleNextButtonClick('seo-option-tab')">
                                        <svg>
                                          <use href="{% static 'assets/svg/icon-sprite.svg' %}#back-arrow"></use>
                                        </svg>
                                        Previous
                                      </button>
                                      <button class="btn" type="button" onclick="handleNextButtonClick('variation-option-tab')">
                                        Next
                                        <svg>
                                          <use href="{% static 'assets/svg/icon-sprite.svg' %}#front-arrow"></use>
                                        </svg>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="tab-pane fade" id="variation-option" role="tabpanel" aria-labelledby="variation-option-tab">
                              <div class="meta-body">
                                <div class="row g-3 common-form">
                                  <div class="col-12">
                                    <div class="row g-2 product-tag">
                                      <label class="form-label d-block m-0">Colors</label>
                                      <input name="colors" value="Green, Purple, Yellow, Blue" />
                                    </div>
                                  </div>
                                  <div class="col-12">
                                    <label class="form-label">Option Name</label>
                                    <select class="form-select" id="option-variation" onchange="configureDropDownLists(this,document.getElementById('option-value'))" name="variation_name">
                                      <option value="color" selected="selected">Color</option>
                                      <option value="size">Size</option>
                                      <option value="material">Material</option>
                                      <option value="style">Style</option>
                                    </select>
                                  </div>
                                  <div class="col-12">
                                    <label class="form-label">Options Value</label>
                                    <select class="form-select" id="option-value" name="variation_value"></select>
                                  </div>
                                  <div class="col-12 product-buttons">
                                    <button class="btn" type="button" onclick="handleNextButtonClick('dropping-option-tab')">
                                      <svg>
                                        <use href="{% static 'assets/svg/icon-sprite.svg' %}#back-arrow"></use>
                                      </svg>
                                      Previous
                                    </button>
                                    <button class="btn" type="button" onclick="handleNextButtonClick('publish-option-tab')">
                                      Next
                                      <svg>
                                        <use href="{% static 'assets/svg/icon-sprite.svg' %}#front-arrow"></use>
                                      </svg>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="tab-pane fade" id="publish-option" role="tabpanel" aria-labelledby="publish-option-tab">
                              <div class="meta-body">
                                <div class="row g-3 common-form">
                                  <div class="col-xxl-6 col-xl-12 col-md-6">
                                    <label class="form-label" for="publishStatus">Publish Status</label>
                                    <select class="form-select" id="publishStatus" required="" name="publish_status">
                                      <option selected="" value="1">Publish</option>
                                      <option value="2">Drafts</option>
                                      <option value="0">Unpublish</option>
                                    </select>
                                  </div>
                                  <div class="col-xxl-6 col-xl-12 col-md-6">
                                    <label class="form-label" for="datetime-local1">Publish Date & Time</label>
                                    <div class="input-group flatpicker-calender product-date">
                                      <input class="form-control" id="datetime-local1" type="date" name="publish_date" />
                                    </div>
                                  </div>
                                  <div class="col-12 product-buttons">
                                    <button class="btn" type="button" onclick="handleNextButtonClick('variation-option-tab')">
                                      <svg>
                                        <use href="{% static 'assets/svg/icon-sprite.svg' %}#back-arrow"></use>
                                      </svg>
                                      Previous
                                    </button>
                                    <button class="btn sweet-15" type="submit">
                                      Submit
                                      <svg>
                                        <use href="{% static 'assets/svg/icon-sprite.svg' %}#front-arrow"></use>
                                      </svg>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->


{% endblock %}

{% block scriptcontent %} 

<script src="{% static 'assets/js/flat-pickr/flatpickr.js' %}"></script>
<script src="{% static 'assets/js/flat-pickr/custom-flatpickr.js' %}"></script>
<script src="{% static 'assets/js/dropzone/dropzone.min.js' %}"></script>
<script src="{% static 'assets/js/dropzone/dropzone-script.js' %}"></script>
<script src="{% static 'assets/js/sweet-alert/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/js/select2/tagify.js' %}"></script>
<script src="{% static 'assets/js/select2/tagify.polyfills.min.js' %}"></script>
<script src="{% static 'assets/js/select2/intltelinput.min.js' %}"></script>
<script src="{% static 'assets/js/add-product/select4-custom.js' %}"></script>
<script src="{% static 'assets/js/editors/quill.js' %}"></script>
<script src="{% static 'assets/js/custom-add-product.js' %}"></script>
<script src="{% static 'assets/js/tooltip-init.js' %}"></script>
<script src="{% static 'assets/js/modalpage/validation-modal.js' %}"></script>
<script src="{% static 'assets/js/select/bootstrap-select.min.js' %}"></script>
    
<script>
  document.addEventListener('DOMContentLoaded', function() {
      // Initialize form elements
      const productForm = document.getElementById('product-form');
      const submitBtn = productForm.querySelector('button[type="submit"]');
      
      // Initialize editors
      const descriptionEditor = new Quill('#editor2', {
          theme: 'snow',
          modules: { toolbar: '#toolbar2' }
      });
      
      const metaEditor = new Quill('#editor4', {
          theme: 'snow',
          modules: { toolbar: '#toolbar4' }
      });
  
      // Initialize Tagify
      new Tagify(document.querySelector('input[name="tags"]'));
      new Tagify(document.querySelector('input[name="colors"]'));
  
      // Initialize Dropzone
      Dropzone.autoDiscover = false;
      
      // Thumbnail Dropzone
      const thumbnailDropzone = new Dropzone("#singleFileUpload", {
          url: "/file-upload",
          autoProcessQueue: false,
          maxFiles: 1,
          acceptedFiles: "image/*",
          init: function() {
              this.on("addedfile", function(file) {
                  const input = document.getElementById('thumbnail-input');
                  const dataTransfer = new DataTransfer();
                  dataTransfer.items.add(file);
                  input.files = dataTransfer.files;
              });
          }
      });
  
      // Gallery Dropzone
      const galleryDropzone = new Dropzone("#multiFileUpload", {
          url: "/file-upload",
          autoProcessQueue: false,
          acceptedFiles: "image/*",
          init: function() {
              this.on("addedfile", function(file) {
                  const input = document.getElementById('gallery-input');
                  const dataTransfer = new DataTransfer();
                  this.files.forEach(f => dataTransfer.items.add(f));
                  input.files = dataTransfer.files;
              });
          }
      });
  
      // Form submission handler
      productForm.addEventListener('submit', async (e) => {
          e.preventDefault();
          submitBtn.disabled = true;
          
          try {
              // Sync editor content
              const descEditor = document.querySelector('#editor2 .ql-editor');
              if (descEditor) {
                  document.getElementById('product-description').value = descEditor.innerHTML;
              }
              
              const metaEditor = document.querySelector('#editor4 .ql-editor');
              if (metaEditor) {
                  document.getElementById('meta-description').value = metaEditor.innerHTML;
              }
  
              // Submit form
              const formData = new FormData(productForm);
              const response = await fetch(productForm.action, {
                  method: 'POST',
                  headers: {
                      'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken"]').value
                  },
                  body: formData
              });
  
              const result = await response.json();
              
              if (result.success) {
                  Swal.fire({
                      icon: 'success',
                      title: 'Success!',
                      text: result.message,
                      willClose: () => {
                          window.location.href = "/products/";  // Redirect to product list
                      }
                  });
              } else {
                  Swal.fire({
                      icon: 'error',
                      title: 'Error',
                      text: result.error || 'Failed to save product'
                  });
              }
          } catch (error) {
              console.error("Submission error:", error);
              Swal.fire({
                  icon: 'error',
                  title: 'Error',
                  text: 'An unexpected error occurred'
              });
          } finally {
              submitBtn.disabled = false;
          }
      });
  
      // Tab navigation
      window.handleNextButtonClick = function(tabId) {
          const tab = document.getElementById(tabId);
          if (tab) {
              new bootstrap.Tab(tab).show();
          }
      };
  });
  </script>

{% endblock %}