{% extends "front/base.html" %}
{% load static %}

{% block custom_css %}{% endblock custom_css %}

{% block content %}
            <!-- Start of Breadcrumb -->
            <nav class="breadcrumb-nav">
                <div class="container">
                    <ul class="breadcrumb shop-breadcrumb bb-no">
                        <li class="passed"><a href="cart.html" style="pointer-events: none;">Shopping Cart</a></li>
                        <li class="passed"><a href="checkout.html" style="pointer-events: none;">Checkout</a></li>
                        <li class="active"><a href="order.html" style="pointer-events: none;">Order Complete</a></li>
                    </ul>
                </div>
            </nav>
            <!-- End of Breadcrumb -->

            <!-- Start of PageContent -->
            <div class="page-content mb-10 pb-2">
                <div class="container">
                    <div class="order-success text-center font-weight-bolder text-dark">
                        <i class="fas fa-check"></i>
                        Thank you. Your order has been received.
                    </div>
                    <!-- End of Order Success -->

                    <ul class="order-view list-style-none">
                        <li>
                            <label>Order number</label>
                            <strong>{{ order.order_number }}</strong>
                        </li>
                        <li>
                            <label>Status</label>
                            <strong>{{ order.get_status_display }}</strong>
                        </li>
                        <li>
                            <label>Date</label>
                            <strong>{{ order.created_at|date:"F d, Y" }}</strong>
                        </li>
                        <li>
                            <label>Total</label>
                            <strong>৳{{ order.grand_total|floatformat:2 }}</strong>
                        </li>
                        <li>
                            <label>Payment method</label>
                            <strong>{{ order.get_payment_method_display|default:"Not selected" }}</strong>
                        </li>
                    </ul>
                    <!-- End of Order View -->

                    <div class="order-details-wrapper mb-5">
                        <h4 class="title text-uppercase ls-25 mb-5">Order Details</h4>
                        <table class="order-table">
                            <thead>
                                <tr>
                                    <th class="text-dark">Product</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for vendor_order in order.vendor_orders.all %}
                                    {% for item in vendor_order.items.all %}
                                    <tr>
                                        <td>
                                            <a href="#">{{ item.product.title }}</a>&nbsp;<strong>x {{ item.quantity }}</strong><br>
                                        </td>
                                        <td>৳{{ item.final_price|floatformat:2 }}</td>
                                    </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Subtotal:</th>
                                    <td>৳{{ total_price_without_discount|floatformat:2 }}</td>
                                </tr>
                                <tr>
                                    <th>Discount:</th>
                                    <td>৳{{ cart_discount_total|floatformat:2 }}</td>
                                </tr>
                                <tr>
                                    <th>Shipping:</th>
                                    <td>৳{{ shipping_cost|floatformat:2 }}</td>
                                </tr>
                                <tr class="total">
                                    <th>Total:</th>
                                    <td>৳{{ grand_total|floatformat:2 }}</td>
                                </tr>
                                
                                
                            </tfoot>
                        </table>
                    </div>
                    <!-- End of Order Details -->

                    

                    <div id="account-addresses">
                        <div class="row">
                            {% comment %} <div class="col-sm-6 mb-8">
                                <div class="ecommerce-address billing-address">
                                    <h4 class="title title-underline ls-25 font-weight-bold">Billing Address</h4>
                                    <address class="mb-4">
                                        <table class="address-table">
                                            <tbody>
                                                <tr>
                                                    <td>John Doe</td>
                                                </tr>
                                                <tr>
                                                    <td>Conia</td>
                                                </tr>
                                                <tr>
                                                    <td>Wall Street</td>
                                                </tr>
                                                <tr>
                                                    <td>California</td>
                                                </tr>
                                                <tr>
                                                    <td>United States (US)</td>
                                                </tr>
                                                <tr>
                                                    <td>92020</td>
                                                </tr>
                                                <tr>
                                                    <td>1112223334</td>
                                                </tr>
                                                <tr class="email">
                                                    <td><a href="https://portotheme.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="036d6a6066746c716832313643646e626a6f2d606c6e">[email&#160;protected]</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </address>
                                </div>
                            </div> {% endcomment %}
                            <div class="col-sm-6 mb-8">
                                <div class="ecommerce-address shipping-address">
                                    <h4 class="title title-underline ls-25 font-weight-bold">Shipping Address</h4>
                                    <address class="mb-4">
                                        <table class="address-table">
                                            <tbody>
                                                <tr>
                                                    <td>{{ order.customer.first_name|default:"" }} {{ order.customer.last_name|default:"" }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ order.shipping_address.district.name|default:"" }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ order.shipping_address.street_address }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ order.shipping_address.thana.name|default:"" }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Bangladesh</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ order.shipping_address.postal_code|default:"" }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ order.shipping_address.phone_number }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Account Address -->

                    <a href="{% url 'home' %}" class="btn btn-dark btn-rounded btn-icon-left btn-back mt-6"><i class="w-icon-long-arrow-left"></i>Back To List</a>
                </div>
            </div>
            <!-- End of PageContent -->
            {% endblock content %}

            {% block custom_js %}
           
            {% endblock custom_js %}